body {
    background-color: #fff;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

header {
    margin-top: 40px;
    font-weight: 700;
    font-family: 'Volkhov', serif;
    color: skyblue;
    padding: 15px;
    text-align: center;
}

.mainArea {
    margin-top: 40px;
    background-color: #fff;
    padding: 5px;
    max-width: 75%;

}

.play {
    margin-top: 10px;
    align-content: center;
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}

img:hover, .selected {
    border: 3px solid grey;
    border-radius: 50%;
}

.game-messages {
    color: rgb(242, 96, 103);
}

#nameSbmt {
    background: skyblue;
    color: #fff;
    border-color:  skyblue;
}

.chatArea{
    margin: 10px;
    padding: 10px;
}

#chatLabel {
    color: lightskyblue;
    font-size: 20px;
    font-weight: 600;
}

#chatHist {
    border: 2px solid grey;
    height: 200px;
    overflow-y: scroll;
    line-height: 80%;
    padding: 5px;
}

#msgSubmit {
    background: rgb(242, 96, 103);
    color: #fff;
    border-color:  rgb(242, 96, 103);
}

.hidden {
    display: none;
}

.unclickable {
    pointer-events: none;
}